.card {
  border-radius: 12px;
  background: #f7f8fa;
  padding: 24px;
  width: 18vw;
}

.card:hover {
  background: #ffffff; // 白色背景
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); // 更强阴影
  transform: translateY(-5px); // 轻微上移效果
}


.card:active {
  background: #e9eaec; // 比默认状态更深的灰色背景
  box-shadow: none; // 移除阴影
  transform: translateY(0); // 取消上移效果
}

.header {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.genderInfo {
  color: #888;
  font-size: 14px;
  margin-top: 4px;
}

.content {
  margin-top: 20px;
  color: #444;
  font-size: 16px;
  line-height: 1.8;
}

.tags {
  margin-top: 24px;
}
