.panelContent {
  width: 100%;
  box-sizing: border-box;
}

.tag {
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 999px;
  padding: 3px 12px;
}

.root {
  position: relative;
  width: 375px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  border-radius: 999px !important;
  height: 30px;
  width: 256px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  cursor: text;
}

.floatingButton {
  cursor: pointer;
}

.panel {
  position: absolute;
  top: calc(100% + 4px);
  border-radius: 20px;
  padding: 24px;
  background: white;
  width: 100%;
}

.inputWrapper {
  display: flex;
  border-radius: 999px;
}