.details {
  color: rgb(179, 179, 179);
  font-family: 'FZKai-Z03', serif;

  &__uploader {
    font-size: 14px;
    margin-bottom: 20px;
  }
  &__name {
    text-decoration: underline;
    color: #000000
  }
}