body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0 20px;
  height: 200vh;
}

.box {
  margin-left: 50%;
  margin-bottom: 10vh;
}
h2 {
  margin-bottom: 40vh;
  text-align: center;
}

.box {
  background-color: green;
  width: 100px;
  height: 100px;
}