.title {
  font-size: 10px;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

.title-body-color {
  color: black;
  opacity: 1;
}

.tag-timeline-color {
  color: black;
  opacity: 0.5;
}

.lowest-level-text-color {
  color: black;
  opacity: 0.2;
}